/* top nav-bar */

#page-logo {
    height: 40px;
}

#cat-page-navbar a {
    color: #318C9E;
}

#cat-page-navbar a:hover {
    color: #f3e2d3;
}

nav .navbar-nav #cat-page-navbar-active {
    color: white;
}

.navbar-toggler[aria-expanded="false"] {
    position: absolute;
    right: 10px;
}

.navbar-toggler.collapsed {
    position: absolute;
    right: 10px;
}

.navbar-toggler {
    position: absolute;
    right: 100px;
}


/* carousel */

.carousel-caption h1 {
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 4px black;
}

.carousel-caption p.lead {
    text-shadow: 2px 2px 2px black;
}


/* scrollbarr */

 ::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* input fields and forms */

.review-list {
    height: 50vh;
    border: 1px solid rgba(0, 0, 0, .125);
    overflow-y: scroll;
}

#review-box-form ul {
    padding-left: 0px;
}


/* .list-group-item  */

li.review-item {
    border-right: none;
    border-left: none;
    border-top: none;
}

#review-input-field {
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: 0px;
}

#review-input-field {
    padding-left: 20px;
    padding-right: 20px;
}

.sign-in-form {
    margin-bottom: 43vh;
}


/* stars */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.stars-given {
    height: 30px;
    font-size: 20px;
    color: #ffc700;
}

.rating-stars-given {
    height: 40px;
    font-size: 30px;
    color: #318C9E;
}

.rating-stars-not-given {
    height: 40px;
    font-size: 30px;
    color: #ccc;
}

.stars-not-given {
    height: 30px;
    font-size: 20px;
    color: #ccc;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #318C9E;
}


/* images */

.article-thumbnail {
    max-width: 200px;
}

.article-big-image {
    max-width: 700px;
}


/* map */

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* cards and articles*/

.card.about-us {
    border: none;
}

.card-text {
    text-align: justify;
}

.main-card-title:hover,
.article-title:hover,
a.breadcrumb-text:hover,
.map-title:hover,
.full-article-paragraph,
.register-link:hover {
    color: #DB9D67;
}

.main-card-title,
.article-title,
.breadcrumb-text,
.review-title,
.user-name,
.about-us-title,
.map-title,
.full-article,
.register-link {
    color: #318C9E;
    text-decoration: none;
}

div.card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.article {
    border-bottom: 1px solid rgba(8, 8, 8, 0.25);
    padding: 10px;
}


/* pagination */

.page-link.list-group-item-light {
    color: #318C9E;
}

.page-link.list-group-item-light:hover {
    color: #318C9E;
    background-color: rgba( 219, 157, 103, 0.5);
}


/* buttons and badges */

#card1-body a.btn:hover,
#card2-body a.btn:hover,
#card3-body a.btn:hover,
#article1-preview a.btn:hover,
#article2-preview a.btn:hover,
#article3-preview a.btn:hover,
#review-input-field button.btn:hover,
#submit-form button.btn:hover,
#registration-form button.btn:hover {
    background-color: #DB9D67;
    border-color: #DB9D67;
}

#card1-body a.btn,
#card2-body a.btn,
#card3-body a.btn,
#article1-preview a.btn,
#article2-preview a.btn,
#article3-preview a.btn,
#review-input-field button.btn,
#submit-form button.btn,
#registration-form button.btn {
    background-color: #318C9E;
    border-color: #318C9E;
    color: #fff;
}

.brown-badge {
    background-color: #DB9D67;
}

.active#pills-company-tab,
.active#pills-pricing-tab,
.active#pills-sustainability-tab,
.active#pills-projects-tab {
    background-color: #DB9D67;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav.nav-pills {
    border-bottom: 1px solid #DB9D67;
}